<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/index.css" />
        <meta name="description" content="A simple Chat App" />
        <title>Chat App</title>
    </head>
    <body>
        <header>
            <h2>Chat App</h2>
        </header>
        <div id="app" class="main">
            <div class="chat">
                <div v-for="r in receive" :key="r.id" class="receive">
                    <img class="r-img" src="img/julien.jpg" alt="yoyoy" />
                    <p class="r-p">{{ r.msg }}</p>
                </div>

                <div class="respond">
                    <div v-for="chat in chats" :key="chat.id" class="e-con">
                        <p class="e-p">{{ chat.msg }}</p>
                        <img class="e-img" src="img/alison.jpg" alt="yoyoy" />
                    </div>
                </div>
            </div>
            <form @submit="sendMessage">
                <div class="input">
                    <input
                        v-model="this.chats.msg"
                        type="text"
                        name="text-data"
                        id="text-data"
                        placeholder="message"
                    />
                    <button type="submit">send</button>
                </div>
            </form>
        </div>
        <div class="footer">
            <p>2023 &copy; Whilmar Bitoco. All rights reserved.</p>
        </div>
        <script src="js/vue.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
